{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h1>Профиль</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <div>
            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
            {{ f }}
            <div class="form-error">{{ f.errors }}</div>
        </div>
        {% endfor %}
        <button type="submit" class="form-button">Сохранить</button>
    </form>
    <hr>
    <p><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
</div>
{% endblock %}